In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn
import pymongo

In [19]:
df=pd.read_csv('Motor_vehicle_insurance_data.csv',sep=';')

C:\Users\joshi\AppData\Local\Temp\ipykernel_9268\3673338174.py:1: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv('Motor_vehicle_insurance_data.csv',sep=';')

In [20]:
df.head()

,ID,Date_start_contract,Date_last_renewal,Date_next_renewal,Date_birth,Date_driving_licence,Distribution_channel,Seniority,Policies_in_force,Max_policies,...,Area,Second_driver,Year_matriculation,Power,Cylinder_capacity,Value_vehicle,N_doors,Type_fuel,Length,Weight
0,1,05/11/2015,05/11/2015,05/11/2016,15/04/1956,20/03/1976,0,4,1,2,...,0,0,2004,80,599,7068.0,0,P,NaN,190
1,1,05/11/2015,05/11/2016,05/11/2017,15/04/1956,20/03/1976,0,4,1,2,...,0,0,2004,80,599,7068.0,0,P,NaN,190
2,1,05/11/2015,05/11/2017,05/11/2018,15/04/1956,20/03/1976,0,4,2,2,...,0,0,2004,80,599,7068.0,0,P,NaN,190
3,1,05/11/2015,05/11/2018,05/11/2019,15/04/1956,20/03/1976,0,4,2,2,...,0,0,2004,80,599,7068.0,0,P,NaN,190
4,2,26/09/2017,26/09/2017,26/09/2018,15/04/1956,20/03/1976,0,4,2,2,...,0,0,2004,80,599,7068.0,0,P,NaN,190

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105555 entries, 0 to 105554
Data columns (total 30 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   ID                    105555 non-null  int64
 1   Date_start_contract   105555 non-null  object
 2   Date_last_renewal     105555 non-null  object
 3   Date_next_renewal     105555 non-null  object
 4   Date_birth            105555 non-null  object
 5   Date_driving_licence  105555 non-null  object
 6   Distribution_channel  105555 non-null  object
 7   Seniority             105555 non-null  int64
 8   Policies_in_force     105555 non-null  int64
 9   Max_policies          105555 non-null  int64
 10  Max_products          105555 non-null  int64
 11  Lapse                 105555 non-null  int64
 12  Date_lapse            35147 non-null   object
 13  Payment               105555 non-null  int64
 14  Premium               105555 non-null  float64
 15  Cost_claims_year      105555 non-null  float64
 16  N_claims_year         105555 non-null  int64
 17  N_claims_history      105555 non-null  int64
 18  R_Claims_history      105555 non-null  float64
 19  Type_risk             105555 non-null  int64
 20  Area                  105555 non-null  int64
 21  Second_driver         105555 non-null  int64
 22  Year_matriculation    105555 non-null  int64
 23  Power                 105555 non-null  int64
 24  Cylinder_capacity     105555 non-null  int64
 25  Value_vehicle         105555 non-null  float64
 26  N_doors               105555 non-null  int64
 27  Type_fuel             103791 non-null  object
 28  Length                95226 non-null   float64
 29  Weight                105555 non-null  int64
dtypes: float64(5), int64(17), object(8)
memory usage: 24.2+ MB

In [22]:
data=df.to_dict(orient='records')
DB_NAME = "VeicleInsurance"
COLLECTION_NAME = "Proj1-Data"
CONNECTION_URL = "mongodb+srv://joshisparsh18:BTzMZfW3Q16MS1e8@cluster0.yfqovoi.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"

# above, either remove your credentials or delete the mongoDB resource bofore pushing it to github.

In [ ]:
client = pymongo.MongoClient(CONNECTION_URL)
data_base = client[DB_NAME]
collection = data_base[COLLECTION_NAME]

In [ ]:
rec=colection.insert_many(data)